Repository net-c215/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: false

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

Fix image info merge to replace syndicated digests (#927)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoMergeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support InsertTemplate function in Dockerfile templates (#930)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#931)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Revert "Temporarily remove nightly subscription (#928)" (#933)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Support for template args (#932)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#934)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix relative path referencing of template files (#935)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Set template symbol to resolved value of product version (#936)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#937)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Upgrade NuGet pkg references (#938)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#939)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Add display name support for Ubuntu 22.04 (#943)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Validate duplicate leg names in build matrix (#941)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#944)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Allow build jobs to be canceled (#942)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Remove dead architecture modification code (#940)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Generate artifacts: handle multiple entries for a path (#945)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix matrix generation to differentiate versions of separate repos (#947)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#946)
  eng/common/templates/variables/docker-images.yml
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Pass test matrix custom build leg group args in pipeline template (#948)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#949)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix matrix leg name to not include slash (#951)
  eng/common/templates/variables/docker-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#952)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Exclude variant value from matrix generation (#950)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#953)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Use --platform option for docker pull (#955)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/UpdateImageSizeBaselineCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#956)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Template generation: accumulate indentation for nested templates (#957)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#958)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Switch to use the Arcade pool for internal builds (#954)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Expose indentation of template as a symbol (#959)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#960)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Use parameterized pool for post-build job (#963)
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix for Dockerfiles using "FROM scratch" (#962)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#964)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Use image info as input to pullImages command (#965)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#967)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Enables the collection of component data by default (#966)
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix format of output variable for pullImages command (#968)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#969)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
