Repository net-c215/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

Update common stages template to support more customization (#885)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#882)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix parameters for CopyBaseImages stage (#886)
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Remove wildcard for OS parameter of test script (#888)
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Remove hard-coded dry-run option for pullImages cmd (#889)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Parameterize matrix type (#890)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#892)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Pipeline to upload files to storage account (#894)
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update .NET SDK version to Current/6.0 (#895)
  eng/common/Install-DotNetSdk.ps1
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/yaml-updater.csproj
  src/Microsoft.DotNet.ImageBuilder/.dockerignore
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/manifest.json
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Use Alpine RID (#898)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#896)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Scripts to check package updates (#824)
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Revert pipeline changes (#899)
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Add display name for Ubuntu 21.10 (#900)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#902)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#903)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Handle images with non-default entrypoint (#904)
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Track components of built images (#897)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IProcessService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/Component.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/PackageQueryInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/ProcessService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#909)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix build script to work on Linux with wildcards (#908)
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Support build args passed from pipeline (#910)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#911)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Pkg scripts support for custom pkg manager args (#907)
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix image caching regression (#912)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#913)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Fix merging of platform data that contains components (#914)
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#915)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Add support to include repos from other manifest files (#916)
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#917)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Consolidate repos that share a name (#918)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#919)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Package script updates (#920)
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Remove support for Windows 2004 (#922)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Update Image Builder tag reference (#923)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Add command to post publish notifications (#838)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/NotificationLabels.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PostPublishNotificationCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PostPublishNotificationOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/INotificationServices.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/QueueNotification/QueueInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/NotificationHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/BuildExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IBuildHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#924)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Build/test job support for ARM32 v6 variant (#925)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Enable publish notifications (#926)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Temporarily remove nightly subscription (#928)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml

Use GitHub blobs API for image info files (#929)
  src/Microsoft.DotNet.ImageBuilder/src/BlobsClientExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOctokitClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/OctokitClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/TreesClientExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml
